<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表</title>
    <div th:replace="common/framelib::framelib"/>
</head>
<body>

<div class="container">
    <nav th:replace="common/framelib::nav"/>

    <div th:replace="common/framelib::jumbotron"/>

    <div class="row marketing">
        <div class="col-lg-6" th:each="goods : ${list}" style="padding: 5%;">
            <h4>[[${goods.goodsname}]]</h4>
            <p>[[${goods.describ}]]<span style="color: red; padding-left: 10%;">$: [[${goods.price}]]</span></p>
            <button type="button" class="btn btn-xs btn-danger" th:onclick="seckill([[${goods.id}]]);">Seckill !</button>
        </div>
    </div>

    <div th:replace="common/framelib::footer"/>

</div> <!-- /container -->

<script>
    $(document).ready(function(){
    });

    function seckill(goodsId){
        $.ajax('/seckill', {
            'type': 'post',
            'data': JSON.stringify({'id':goodsId}),
            'dataType': 'JSON',
            'contentType': 'application/json'
        }).then(data=>console.log(data))
    }
</script>
</body>
</html>
